@{
    Layout = "_noSidebarLayout";
}
<h1 class="ui dividing header">@Model.Агент.Идентификатор</h1>
<div>@Model.Агент.СетевоеИмя : @Model.Агент.Порт <em>@Model.Агент.Описание</em></div>

<h2 class="ui header">Кластеры серверов</h2>
<div class="ui relaxed divided list">
    @foreach(var Кластер in @Model.Кластеры) {
        <div class="item">
            <i class="large middle aligned server icon"></i>
            <div class="content">
                <a class="header" 
                    asp-controller="clusters" 
                    asp-action="overview"
                    asp-route-cluster="@Кластер.Ид()">@Кластер.Имя()</a>
                <div class="description">@Кластер.АдресСервера():@Кластер.ПортСервера()</div>
            </div>
        </div>
    }
</div>