<h2 class="ui header">Агенты администрируемых серверов</h2>

<div id="cmdbar" class="ui float right">
    <a class="ui tiny primary button" asp-action="add">Добавить</a>
    <div class="ui divider"></div>
</div>

<div class="ui tiny modal">
  <div class="header">Подтверждение</div>
  <div class="content">
    <p>Удалить?</p>
  </div>
  <div class="actions">
    <a class="ui approve button">Да</a>
    <a class="ui cancel button">Нет</a>
  </div>
  <form id="poster" method="POST" action="">
  </form>
</div>

<div class="ui divided items">
    @foreach(var row in Model) {
      <div class="item">
        <div class="image"><i class="laptop massive icon"></i></div>
        <div class="middle aligned content">
            <a class="header" asp-action="clusters" asp-route-id="@row.Идентификатор">@row.Идентификатор</a>
            <div class="meta">
                <span>Сетевое имя: @row.СетевоеИмя</span>
                <span>Порт: @row.Порт</span>
            </div>
            <div class="extra" id="item-@row.Идентификатор">
                <div class="ui right floated">
                    <a class="ui tiny button" asp-action="edit" asp-route-id="@row.Идентификатор"><i class="edit icon"></i>Редактировать</a>
                    <a class="ui tiny delete button" id="del-@row.Идентификатор"><i class="remove icon"></i>Удалить</a>
                </div>
            </div>
        </div>
      </div>
    }
</div>

<script>
    $('a.delete').click(function(evnt){
        evnt.preventDefault();
        var dialog = $('.modal')
        var myId = this.id.substr(4);
        dialog.find('div.content > p').text('Удалить элемент ' + myId + '?');
        dialog.find('div.actions > a.approve').click(function(){
            $('#poster').submit();
        });
        $('#poster').attr('action', '/agents/delete/'+myId);
        
        dialog.modal('show');
    });
</script>
