<h1>Агенты администрируемых серверов</h1>

<div id="cmdbar" class="ui buttons">
    <a asp-action="add" class="ui primary button">Добавить</a>
</div>

<table class="ui basic selectable table">
<thead>
    <tr>
        <th>Идентификатор</th>
        <th>Сетевое имя</th>
        <th>Порт</th>
        <th>Режим</th>
        <th>Удалить</th>
    </tr>
</thead>
<tbody>
    @foreach(var row in Model) {
        <tr>
            <td><a asp-action="edit" asp-route-id="@row.Идентификатор">@row.Идентификатор</a></td>
            <td>@row.СетевоеИмя</td>
            <td>@row.Порт</td>
            <td>@row.Режим</td>
            <td><a asp-action="delete" asp-route-id="@row.Идентификатор"><i class="remove icon"></i></a></td>
        </tr>
    }
</tbody>
</table>
