<h1>Агенты администрируемых серверов</h1>

<div id="cmdbar" class="ui buttons">
    <a asp-action="add" class="ui primary button">Добавить</a>
</div>

<div class="ui tiny modal">
  <div class="header">Удаление элемента</div>
  <form id="confirmationForm" method="POST" action="">
      <div class="content">
        <p>Удалить?</p>
    </div>
    <div class="actions">
        <button class="ui approve button" type="submit">Да</button>
        <button class="ui cancel button">Нет</button>
    </div>
  </form>
</div>

<table class="ui basic selectable table">
<thead>
    <tr>
        <th>Идентификатор</th>
        <th>Сетевое имя</th>
        <th>Порт</th>
        <th>Режим</th>
        <th>Удалить</th>
    </tr>
</thead>
<tbody>
    @foreach(var row in Model) {
        <tr>
            <td><a asp-action="edit" asp-route-id="@row.Идентификатор">@row.Идентификатор</a></td>
            <td>@row.СетевоеИмя</td>
            <td>@row.Порт</td>
            <td>@row.Режим</td>
            <td><a asp-action="delete" asp-route-id="@row.Идентификатор" class="delete" id="id-@row.Идентификатор"><i class="remove icon"></i></a></td>
        </tr>
    }
</tbody>
</table>

<script>
    $('a.delete').click(function(evnt){
        evnt.preventDefault();
        var dialog = $('.modal')
        var myId = this.id.substr(3);
        dialog.find('div.content > p').text('Удалить элемент ' + myId + '?');
        dialog.find('#confirmationForm').attr('action', '/agents/delete/'+myId);
        dialog.modal('show');
    });
</script>
