<div>
    <h2 class="title-page">@ViewBag.TitlePage</h2>
    <div class="row">
        <div class="cell-2">
            <p style="margin-top: 5px;">Информационная база:</p>
        </div>
        <div class="cell-3">
            <form action='' method="post" id="data_list_update">
                <select id="select_infobase" data-role="select">
                    <option value="0"></option>
                    @foreach(var ИнфоБаза in Model.СписокИнформационныхБаз) {
                        @if(@ИнфоБаза.Ид() == @Model.ИнформационнаяБаза_Идентификатор){
                            <option value="@ИнфоБаза.Ид()" selected>@ИнфоБаза.Имя()</option>
                        }
                        else{
                            <option value="@ИнфоБаза.Ид()">@ИнфоБаза.Имя()</option>
                        }
                    }
                </select>
            </form>
        </div>
        <div class="" style="padding-right: 10px;">
            <i class="fas fa-plug connection connection-off"></i>
        </div>
        <div class="cell-2">
            <button class="button button-auth" onclick="authInInfobase();">Авторизоваться</button>
        </div>
    </div>


    <div class="table-component">
        <table id="data-list" class="table compact striped table-border mt-4" style="overflow-x:auto;" data-role="table"
                data-cls-table-top="row flex-nowrap" 
                data-cls-search="cell-md-8"
                data-cls-rows-count="cell-md-4"
                data-check="true"
                data-check-style="2"
                data-on-data-load="$('#activity').show()"
                data-on-data-loaded="$('#activity').hide()">
        </table>
    </div>


    <div class="d-flex flex-justify-center">
        <div id="activity" data-role="activity" data-type="cycle" data-style="color" style="display: none"></div>
    </div>

</div>

@await Component.InvokeAsync("formauth")

<!-- TODO: Надо перенести в отдельный файл js -->
<script>
    var urlAuthDB = '@Url.RouteUrl(new { controller = "infobase", action = "auth"})';
    var element_select = logicDataList.getItem_SelectDB();

    element_select.on('change', function () {
        logicDataList.selectDbOnChange(element_select, urlAuthDB, '@Model.Кластер_Идентификатор');
    });

    function authInInfobase() {
        logicDataList.authInInfobase(element_select, urlAuthDB, '@Model.Кластер_Идентификатор');
    }

    function reloadList() {
        logicDataList.reloadList(element_select, '@Url.Action("GetModelDataList")', '@Model.Кластер_Идентификатор');
    }
</script>