
<h2>Кластер: @Model.Имя()</h2>

<div class="mb-4">
    <p>Адрес: @Model.АдресСервера():@Model.ПортСервера() ID: @Model.Ид()</p>
</div>

<form 
    asp-action="@ViewContext.RouteData.Values["action"]"
    asp-route-agent="@ViewContext.RouteData.Values["agent"]"
    asp-route-id="@Model?.Ид()" 
    class="form"
    method="POST">
    
    <div asp-validation-summary="All"></div>

    <div class="row mb-2">
        <label class="cell-sm-2" for="Имя">Имя</label>
        <div class="cell-sm-6">
            <input name="Имя" value="@Model?.Получить("Имя", false)" type="text"/>
        </div>
    </div>
    <h4 class="divided">Перезапуск процессов</h4>
    <div class="row mb-2">
        <label class="cell-sm-2" for="ИнтервалПерезапуска">Интервал перезапуска</label>
        <div class="cell-sm-6">
            <input name="ИнтервалПерезапуска" value="@Model?.Получить("ИнтервалПерезапуска", false)" type="number"/>
        </div>
    </div>
    <div class="row mb-2">
        <label class="cell-sm-2" for="ДопустимыйОбъемПамяти">Допустимый объем памяти</label>
        <div class="cell-sm-6">
            <input name="ДопустимыйОбъемПамяти" value="@Model?.Получить("ДопустимыйОбъемПамяти", false)" type="number"/>
        </div>
    </div>
    <div class="row mb-2">
        <label class="cell-sm-2" for="ИнтервалПревышенияДопустимогоОбъемаПамяти">Интервал превышения объема памяти</label>
        <div class="cell-sm-6">
            <input name="ИнтервалПревышенияДопустимогоОбъемаПамяти" value="@Model?.Получить("ИнтервалПревышенияДопустимогоОбъемаПамяти", false)" type="number"/>
        </div>
    </div>
    <div class="row mb-2">
        <label class="cell-sm-2" for="ВыключенныеПроцессыОстанавливатьЧерез">Выключенные процессы останавливать через</label>
        <div class="cell-sm-6">
            <input name="ВыключенныеПроцессыОстанавливатьЧерез" value="@Model?.Получить("ВыключенныеПроцессыОстанавливатьЧерез", false)" type="number"/>
        </div>
    </div>
    <div class="row mb-2">
        <label class="cell-sm-2" for="ДопустимоеОтклонениеКоличестваОшибокСервера">Допустимое отклонение количества ошибок сервера</label>
        <div class="cell-sm-6">
            <input name="ДопустимоеОтклонениеКоличестваОшибокСервера" value="@Model?.Получить("ДопустимоеОтклонениеКоличестваОшибокСервера", false)" type="number"/>
        </div>
    </div>
    <div class="row mb-2">
        <label class="cell-sm-2" for="ПринудительноЗавершатьПроблемныеПроцессы">Принудительно завершать проблемные процессы</label>
        <div class="cell-sm-6">
            <input name="ПринудительноЗавершатьПроблемныеПроцессы" value="@Model?.Получить("ПринудительноЗавершатьПроблемныеПроцессы", false)" type="checkbox"/>
        </div>
    </div>

    <h4 class="divided">Отказоустойчивость</h4>
    
    <div class="row mb-2">
        <label class="cell-sm-2" for="УровеньОтказоустойчивости">Уровень отказоустойчивости</label>
        <div class="cell-sm-6">
            <input name="УровеньОтказоустойчивости" value="@Model?.Получить("УровеньОтказоустойчивости", false)" type="number"/>
        </div>
    </div>

    <div class="row mb-2">
        <label class="cell-sm-2" for="РежимРаспределенияНагрузки">Распределение нагрузки</label>
        <div class="cell-sm-6">
            <select name="РежимРаспределенияНагрузки">
                <!option @optionSelected("ПоПамяти",@Model?.Получить("УровеньОтказоустойчивости", false))>По памяти</!option>
                <!option @optionSelected("ПоПроизводительности",@Model?.Получить("УровеньОтказоустойчивости", false))>По производительности</!option>
            </select>
        </div>
    </div>

    <button type="submit" class="primary button mt-4 mb=16">Сохранить</button>
    <p>&nbsp;</p>
</form>

@functions {
    string optionSelected(string option, string currentValue) {
        return $"value=\"{option}\"" + (option == currentValue? "selected":"");
    }
}