
<table class="table">
@foreach(var db in Model.dbList) {
    <tr>
        <td>
            <a 
                asp-route-agent="@ViewContext.RouteData.Values["agent"]" 
                asp-controller="infobase"
                asp-action="edit"
                asp-route-cluster="@Model.clusterId"
                asp-route-id="@db.Имя()"><span class="mif-database fg-blue"></span> @db.Имя()
            </a>
        </td>
        <td>
            @db.Описание()
        </td>
        <td>
            <ul class="inline-list">
                <li><a class="button">Соединения</a></li>
                <li><a class="button" 
                    asp-controller="session" 
                    asp-action="index" 
                    asp-route-cluster="@Model.clusterId" 
                    asp-route-db="@db.Ид()">Сеансы
                </a></li>
            </ul>
        </td>
    </tr>
}
</table>